body {
    font: 1.1em Helvetica, Arial, sans-serif;
    background: #FFFFFF;
    color: #000000;
}

a {
    color: #0000C0;
}

div#app {
    max-width: 48em;
    margin: auto;
    position: relative;
}

header#header {
    background-image: url(/static/img/logo-black.png);
    background-repeat: no-repeat;
    background-size: auto 150px;
    background-position-y: 5px;
    position: relative;
}

header#header h1 {
    height: 150px;
    margin: 0;
    font-size: 0;
}

.tabgroup {
    background: #F8F8F8;
    border: 1px solid #000;
    border-radius: .45em;
    padding: .2em 0;
}

.tabgroup div {
    display: inline-block;
    cursor: pointer;
}

.tabgroup div a {
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em .5em 1em;
}

.tabgroup div::before {
    padding: .5em 0;
    display: inline-block;
    font-size: 1.1em;
    content: "/";
}

.tabgroup div:first-child a, .tabgroup div.active a {
    color: #000;
}

.tabgroup div:first-child::before {
    content: "";
}

.tabgroup div:nth-child(1) {
    font-size: 1.1em;
}

footer {
    text-align: center;
    font-size: .8em;
}

footer p {
    line-height: 1.6em;
}

[v-cloak] {
    display: none !important;
}

#current-season {
    border: 1px solid #222;
    background: #F8F8F8;
    border-radius: .75em;
    padding: .75em;
}

#current-season h2 {
    border-bottom: 1px double #222;
    padding: .5em 0;
    margin: .2em 0;
}

#current-season h3 {
    padding: .2em 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

table tbody td, table thead th {
}

th, td {
    padding: .4em;
}

th {
    background: #404048;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

td {
    vertical-align: middle;
}

td.W {
    background: #D1FFD1;
}

tr:nth-child(odd) td.W {
    background: #BEE8BE;
}

td.L {
    background: #FFD1D1;
}

tr:nth-child(odd) td.L {
    background: #E8BEBE;
}

table#standings thead tr {
    position: sticky;
    top: 0;
}

table#standings td:nth-child(3) {
    text-align: right;
}

table#standings td:nth-child(4),
table#standings td:nth-child(6),
table#standings td:nth-child(7)
{
    text-align: center;
}

table#standings .team-container {
    width: 220px;
}

tr:nth-child(odd) {
    background: #E8E8E8;
}

.monicon {
    width: 36px;
    height: 30px;
    display: inline-block;
    background: url(/static/img/pokemonicons-sheet.png) no-repeat;
}

tr.phase-header th {
    background: #000;
    border-bottom: 1px solid #D8D8D8;
}

#creditsTitle {
    cursor: pointer;
}

#team {
    font: 15px "M+ 1m", monospace;
}

#team div {
    padding-left: 160px;
    white-space: nowrap;
    overflow: display;
}

#team .paste-mon {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 160px;
    padding-left: 0;
    padding-top: .75em;
}

#team .paste-mon div {
    padding-bottom: .1em;
}

#team .mon-big-img {
    width: 150px;
    height: 150px;
    position: absolute;
    padding-left: 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#team-copy {
    display: inline-block;
    float: right;
    border: 1px solid #000;
    border-radius: .25em;
    font-size: .75em;
    padding: .15em .5em;
    cursor: pointer;
    background: #E8E8E8;
    color: #000;
}

table#usage thead tr {
    position: sticky;
    top: 0;
}

table#usage td:nth-child(1) {
    width: 36px;
}

ul#standings-info {
    list-style-type: none;
    padding: 0;
}

ul#standings-info li {
    display: inline-block;
    border-right: 1px solid #000;
    padding: .1em .5em;
}

ul#standings-info li:first-child {
    padding-left: 0;
}

ul#standings-info li:last-child {
    border-right: 0;
}

/* stolen from pokepast.es !!! */
.type-normal   { color: #A8A878; }
.type-fighting { color: #C03028; }
.type-flying   { color: #A890F0; }
.type-poison   { color: #A040A0; }
.type-ground   { color: #E0C068; }
.type-rock     { color: #B8A038; }
.type-bug      { color: #A8B820; }
.type-ghost    { color: #705898; }
.type-steel    { color: #B8B8D0; }
.type-fire     { color: #F08030; }
.type-water    { color: #6890F0 }
.type-grass    { color: #78C850; }
.type-electric { color: #F8D030; }
.type-psychic  { color: #F85888; }
.type-ice      { color: #98D8D8; }
.type-dragon   { color: #7038F8; }
.type-dark     { color: #705848; }
.type-fairy    { color: #EE99AC; }

.attr {
    color: #666666;
}

#player-info td {
    background: #E8E8E8;
}

.eventslist .reg-location {
    font-size: .9em;
    color: #404040;
    padding-top: .2em;
}

.kinda-hide {
    height: 1px;
    overflow: hidden;
}

.light-mode-only {
    display: block;
}

.dark-mode-only {
    display: none;
}

/* mobile */
@media (max-width: 30.5em) {
    table {
        font-size: .9em;
    }

    .tabgroup {
        font-size: .8em;
        overflow: hidden;
    }

    .tabgroup div {
        float: left;
    }

    table#standings thead {
        display: none;
    }

    table#standings tr {
        display: block;
    }

    table#standings td {
        display: inline-block;
    }

    table#standings td:nth-child(4),
    table#standings td:nth-child(6),
    table#standings td:nth-child(7)
    {
        text-align: left;
    }

    table#standings td::before {
        display: block;
        font-size: .9em;
        color: #505050;
    }

    table#standings td:nth-child(1)::before {
        content: "Place";
    }

    table#standings td:nth-child(2)::before {
        content: "Name";
    }

    table#standings td:nth-child(3)::before {
        content: "W";
    }

    table#standings td:nth-child(4) {
        display: none;
    }

    table#standings td:nth-child(5)::before {
        content: "L";
    }

    table#standings td:nth-child(6)::before {
        content: "Drop";
    }

    table#standings td:nth-child(7)::before {
        content: "Res";
    }

    table#standings td:nth-child(8)::before {
        content: "OpRes";
    }

    table#standings td:nth-child(9)::before {
        content: "Team";
    }

    #team .paste-mon {
        width: auto;
        padding-left: 1em;
        padding-top: 0;
    }

    #team .mon-big-img {
        width: 120px;
        height: 120px;
    }

    #team .mon-big-img img {
        width: 120px;
        height: 120px;
    }

    #team div {
        padding-left: 120px;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #222222;
        color: #FFFFFF;
    }

    a {
        color: #2EE7FF;
    }

    header#header {
        background-image: url(/static/img/logo-white.png);
    }

    .tabgroup {
        background: #404040;
    }

    .tabgroup div:first-child a, .tabgroup div.active a {
        color: #FFFFFF;
    }

    th {
        background: #404048;
        color: #FFFFFF;
    }
    
    td.W {
        background: #318531;
    }

    tr:nth-child(odd) td.W {
        background: #3CA63C;
    }

    td.L {
        background: #a13333;
    }

    tr:nth-child(odd) td.L {
        background: #d94343;
    }

    tr:nth-child(odd) {
        background: #505050;
    }

    #player-info td {
        background: #505050;
    }

    .eventslist .reg-location {
        color: #E0E0E0;
    }

    #current-season {
        background: #404040;
    }

    #current-season h2 {
        border-bottom: 1px double #DDD;
    }

    .light-mode-only {
        display: none;
    }

    .dark-mode-only {
        display: block;
    }

    .attr {
        color: #D0D0D0;
    }

    @media (max-width: 30.5em) {
        table#standings td::before {
            display: block;
            font-size: .9em;
            color: #D0D0D0;
        }
    }
}
