body {
    font: 1.1em Helvetica, Arial, sans-serif;
    background: #FFFFFF;
    color: #000000;
}

a {
    color: #0000C0;
}

div#app {
    max-width: 50em;
    margin: auto;
    position: relative;
}

header#header {
    position: relative;
    height: 210px;
}

header#header h1 {
    height: 160px;
    margin: 0;
    font-size: 0;
    background-image: url(/static/img/logo-black.png);
    background-repeat: no-repeat;
    background-size: auto 150px;
    background-position-y: 5px;
    position: relative;
    z-index: 1;
}

.tabgroup {
    background: #F8F8F8;
    border: 1px solid #000;
    border-radius: .45em;
    padding: .2em 0;
    position: relative;
    top: -10px;
}

.tabgroup div {
    display: inline-block;
    cursor: pointer;
}

.tabgroup div a {
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em .5em 1em;
}

.tabgroup div::before {
    padding: .5em 0;
    display: inline-block;
    font-size: 1.1em;
    content: "/";
}

.tabgroup div:first-child a, .tabgroup div.active a {
    color: #000;
}

.tabgroup div:first-child::before {
    content: "";
}

.tabgroup div:nth-child(1) {
    font-size: 1.1em;
}

footer {
    text-align: center;
    font-size: .8em;
}

footer p {
    line-height: 1.6em;
}

[v-cloak] {
    display: none !important;
}

#current-season {
    border: 1px solid #222;
    background: #F8F8F8;
    border-radius: .75em;
    padding: .75em;
}

#current-season h2 {
    border-bottom: 1px double #222;
    padding: .5em 0;
    margin: .2em 0;
}

#current-season h3 {
    padding: .2em 0;
    margin: 0;
}

.event-in-progress {
    background: #B8EEFC;
    color: #254852;
    border: 1px solid #254852;
    border-radius: .2em;
    padding: .5em;
    margin-top: .5em;
}

.event-in-progress span {
    font-weight: normal;
    font-size: .85em;
}

input {
    border: 1px solid #000000;
    border-radius: .4em;
    height: 1.75em;
    font-size: 1em;
    padding: .25em;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

th, td {
    padding: .3em .4em;
}

th {
    background: #404048;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

tr {
    border-bottom: 1px solid #A0A0A0;
}

tr:nth-child(odd) {
    background: #E8E8E8;
}

td {
    vertical-align: middle;
}

th.sortable {
    background-image: url(/static/img/sort-unsorted.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: .75em;
    padding-right: 1.5em;
    cursor: pointer;
}

th.sortable.up {
    background-image: url(/static/img/sort-up.png);
}

th.sortable.down {
    background-image: url(/static/img/sort-down.png);
}

table#opponents td:nth-child(3) {
    background: #F0F0F0;
}

table#opponents tr:nth-child(odd) td:nth-child(3) {
    background: #F8F8F8;
}

table#opponents a, table#standings a, table#usage a, table#country-stats a, table.usage-table a {
    display: block;
}

table#opponents td.W, td.W {
    background: #D1FFD1;
}

table#opponents tr:nth-child(odd) td.W, tr:nth-child(odd) td.W {
    background: #BEE8BE;
}

table#opponents td.L, td.L {
    background: #FFD1D1;
}

table#opponents tr:nth-child(odd) td.L, tr:nth-child(odd) td.L {
    background: #E8BEBE;
}

table#standings thead tr {
    position: sticky;
    top: 0;
}

table#standings td:nth-child(3) {
    text-align: right;
}

table#standings td:nth-child(4),
table#standings td:nth-child(6),
table#standings td:nth-child(7)
{
    text-align: center;
}

.team-container {
    width: 220px;
}

.monicon, .itemicon {
    width: 36px;
    height: 30px;
    display: inline-block;
    background: url(/static/img/pokemonicons-sheet.png) no-repeat;
    overflow: hidden;
    text-indent: -9999em;
    image-rendering: pixelated;
}

.itemicon {
    background: url(/static/img/itemicons-sheet.png) no-repeat;
    width: 24px;
    height: 24px;
}

.tera-icon {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: 28px 28px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999em;
    image-rendering: pixelated;
}

.tera-normal   { background-image: url(/static/img/types/tera-normal.png); }
.tera-fighting { background-image: url(/static/img/types/tera-fighting.png); }
.tera-flying   { background-image: url(/static/img/types/tera-flying.png); }
.tera-poison   { background-image: url(/static/img/types/tera-poison.png); }
.tera-ground   { background-image: url(/static/img/types/tera-ground.png); }
.tera-rock     { background-image: url(/static/img/types/tera-rock.png); }
.tera-bug      { background-image: url(/static/img/types/tera-bug.png); }
.tera-ghost    { background-image: url(/static/img/types/tera-ghost.png); }
.tera-steel    { background-image: url(/static/img/types/tera-steel.png); }
.tera-fire     { background-image: url(/static/img/types/tera-fire.png); }
.tera-water    { background-image: url(/static/img/types/tera-water.png); }
.tera-grass    { background-image: url(/static/img/types/tera-grass.png); }
.tera-electric { background-image: url(/static/img/types/tera-electric.png); }
.tera-psychic  { background-image: url(/static/img/types/tera-psychic.png); }
.tera-ice      { background-image: url(/static/img/types/tera-ice.png); }
.tera-dragon   { background-image: url(/static/img/types/tera-dragon.png); }
.tera-dark     { background-image: url(/static/img/types/tera-dark.png); }
.tera-fairy    { background-image: url(/static/img/types/tera-fairy.png); }
.tera-stellar  { background-image: url(/static/img/types/tera-stellar.png); }

.monicon-ph {
    background: transparent;
}

tr.phase-header th {
    background: #000;
    border-bottom: 1px solid #D8D8D8;
}

#creditsTitle {
    cursor: pointer;
}

#team {
    font: 15px "M+ 1m", monospace;
}

#team div {
    padding-left: 160px;
    white-space: nowrap;
    overflow: display;
}

#team .paste-mon {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 160px;
    padding-left: 0;
    padding-top: .75em;
}

#team .paste-mon div {
    padding-bottom: .1em;
}

#team .paste-mon div.itemicon {
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 126px;
}

#team .mon-big-img {
    width: 150px;
    height: 150px;
    position: absolute;
    padding-left: 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#team-copy {
    display: inline-block;
    float: right;
    border: 1px solid #000;
    border-radius: .25em;
    font-size: .75em;
    padding: .15em .5em;
    cursor: pointer;
    background: #E8E8E8;
    color: #000;
}

table#usage thead tr {
    position: sticky;
    top: 0;
}

table#usage td:nth-child(1) {
    width: 36px;
}

.pct {
    color: #505050;
    font-size: .8em;
}

ul#standings-info, ul#standings-sections {
    list-style-type: none;
    padding: 0;
}

ul#standings-info li, ul#standings-sections li {
    display: inline-block;
    border-right: 1px solid #000;
    padding: .1em .5em;
}

ul#standings-info li:first-child, ul#standings-sections li:first-child {
    padding-left: 0;
}

ul#standings-info li:last-child, ul#standings-sections li:last-child {
    border-right: 0;
}

ul#standings-sections {
    font-size: 1.1em;
    font-weight: bold;
}

ul#standings-sections li:first-child {
    border-right: 0;
}

#usage tr#filters-row input {
    width: 4em;
}

.config-container {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 32%;
    height: 12em;
    margin-right: 1.25%;
    vertical-align: top;
}

.config-container::-webkit-scrollbar {
    width: 6px;
}

.config-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.config-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

.config-container table td {
    height: 30px;
}

#item-info, #tera-info, #move-info {
    font-size: .9em;
    width: 100%;
}

#item-info td:first-child, #tera-info td:first-child {
    width: 28px;
}

#item-info td:nth-child(3), #tera-info td:nth-child(3), #move-info td:nth-child(2) {
    text-align: right;
}

#pairings td {
    text-align: center;
}

#pairings td:first-child, #pairings td:last-child {
    width: 45%;
}

#pairings td:nth-child(2) div {
    font-size: .8em;
}

#pairings td:nth-child(2) span {
    font-size: 2.5em;
    display: block;
}

#pairings .table-place {
    height: 60px;
}

ul#pairing-round-select {
    margin: 0 0 .25em 0;
    padding: 0;
    list-style-type: none;
}

ul#pairing-round-select li {
    display: inline-block;
    border-right: 1px solid #000;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: .25em;
}

ul#pairing-round-select li:last-child {
    border: 0;
}

ul#pairing-round-select li a {
    display: block;
    padding: .1em .5em;
}

/* stolen from pokepast.es !!! */
.type-normal   { color: #A8A878; }
.type-fighting { color: #C03028; }
.type-flying   { color: #A890F0; }
.type-poison   { color: #A040A0; }
.type-ground   { color: #E0C068; }
.type-rock     { color: #B8A038; }
.type-bug      { color: #A8B820; }
.type-ghost    { color: #705898; }
.type-steel    { color: #B8B8D0; }
.type-fire     { color: #F08030; }
.type-water    { color: #6890F0; }
.type-grass    { color: #78C850; }
.type-electric { color: #F8D030; }
.type-psychic  { color: #F85888; }
.type-ice      { color: #98D8D8; }
.type-dragon   { color: #7038F8; }
.type-dark     { color: #705848; }
.type-fairy    { color: #EE99AC; }

.attr {
    color: #666666;
}

#player-info td {
    background: #E8E8E8;
}

.eventslist .reg-location {
    font-size: .9em;
    color: #404040;
    padding-top: .2em;
}

.kinda-hide {
    height: 1px;
    overflow: hidden;
}

.light-mode-only {
    display: block;
}

.dark-mode-only {
    display: none;
}

/* mobile */
@media (max-width: 30.5em) {
    table {
        font-size: .9em;
    }

    .tabgroup {
        overflow: hidden;
        background: transparent;
        border: 0;
    }

    .tabgroup div {
        float: left;
        border: 1px solid #000;
        background: #F8F8F8;
        padding: .25em .5em;
        margin: .25em .25em .25em 0;
        border-radius: .5em;
    }

    .tabgroup div a {
        text-decoration: none;
        padding: 0;
    }

    .tabgroup div a {
        padding: .25em;
        display: inline-block;
    }

    .tabgroup div a:first-child {
        padding: 0;
    }

    .tabgroup div::before {
        padding: 0;
        content: "";
    }

    .team-container {
        width: 100%;
    }

    ul#standings-info li {
        border-right: 0px;
        padding: .1em .75em .1em 0;
    }

    ul#standings-sections li:first-child {
        padding-left: 0;
        display: block;
    }

    table#standings thead {
        display: none;
    }

    table#standings tr {
        display: block;
    }

    table#standings td {
        display: inline-block;
    }

    table#standings td:nth-child(4),
    table#standings td:nth-child(6),
    table#standings td:nth-child(7)
    {
        text-align: left;
    }

    table#standings td::before {
        display: block;
        font-size: .9em;
        color: #505050;
    }

    table#standings td:nth-child(1)::before {
        content: "Place";
    }

    table#standings td:nth-child(2)::before {
        content: "Name";
    }

    table#standings td:nth-child(3)::before {
        content: "W";
    }

    table#standings td:nth-child(4) {
        display: none;
    }

    table#standings td:nth-child(5)::before {
        content: "L";
    }

    table#standings td:nth-child(6)::before {
        content: "Drop";
    }

    table#standings td:nth-child(7)::before {
        content: "Res";
    }

    table#standings td:nth-child(8)::before {
        content: "OpRes";
    }

    table#standings td:nth-child(9)::before {
        content: "Team";
    }

    #team .paste-mon {
        width: auto;
        padding-left: 1em;
        padding-top: 0;
    }

    #team .mon-big-img {
        width: 120px;
        height: 120px;
    }

    #team .mon-big-img img {
        width: 120px;
        height: 120px;
    }

    #team div {
        padding-left: 120px;
    }

    table#opponents tr {
        display: block;
    }

    table#opponents td {
        display: inline-block;
    }

    table#opponents thead .phase-header th:first-child {
        width: 100%;
    }

    table#opponents thead .info-header {
        display: none;
    }

    table#opponents tbody tr {
        position: relative;
    }

    table#opponents tbody td {
        text-align: left;
    }

    table#opponents td::before {
        font-size: .9em;
        color: #505050;
        display: block;
    }

    table#opponents tbody td:nth-child(1) {
        width: 14%;
        text-align: center;
    }

    table#opponents tbody td:nth-child(1)::before {
        content: "Rnd.";
    }

    table#opponents tbody td:nth-child(2) {
        padding-left: 14%;
    }

    table#opponents tbody td:nth-child(2):before {
        content: "Opponent";
    }

    table#opponents tbody td:nth-child(3) {
        text-align: center;
        position: absolute;
        left: 16%;
    }

    table#opponents tbody td:nth-child(3)::before {
        content: "Result";
    }

    table#opponents tbody td:nth-child(4)::before {
        content: "Record";
    }

    table#opponents tbody td:nth-child(5)::before {
        content: "Res.";
    }

    table#opponents tbody td:nth-child(6) {
        width: 100%;
    }

    table#opponents tbody td:nth-child(6)::before {
        content: "Team";
    }

    table#opponents tbody tr.bye td:nth-child(3),
    table#opponents tbody tr.bye td:nth-child(4),
    table#opponents tbody tr.bye td:nth-child(5),
    table#opponents tbody tr.bye td:nth-child(6) {
        display: none;
    }

    table.usage-table td::before {
        display: block;
        font-size: .9em;
        color: #505050;
    }

    table.usage-table td:nth-child(1),
    table.usage-table td:nth-child(3),
    table.usage-table td:nth-child(4),
    table.usage-table td:nth-child(5)
    {
        text-align: center;
    }

    table.usage-table td:nth-child(1)::before {
        content: "Place";
    }

    table.usage-table td:nth-child(2)::before {
        content: "Name";
    }

    table.usage-table td:nth-child(3)::before {
        content: "Record";
    }

    table.usage-table td:nth-child(4)::before {
        content: "Res";
    }

    table.usage-table td:nth-child(5)::before {
        content: "OpRes";
    }

    table.usage-table td:nth-child(6) {
        width: 100%;
    }

    table.usage-table td:nth-child(6)::before {
        content: "Team";
    }

    table.usage-table thead {
        display: none;
    }

    table.usage-table tr {
        display: block;
    }

    table.usage-table td {
        display: inline-block;
    }

    .config-container {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #222222;
        color: #FFFFFF;
    }

    a {
        color: #2EE7FF;
    }

    header#header h1 {
        background-image: url(/static/img/logo-white.png);
    }

    .tabgroup {
        background: #404040;
        border: 1px solid #888888;
    }

    .tabgroup div:first-child a, .tabgroup div.active a {
        color: #FFFFFF;
    }

    th {
        background: #404048;
        color: #FFFFFF;
    }

    tr {
        border-bottom: 1px solid #777777;
    }

    ul#standings-info li, ul#standings-sections li {
        border-right: 1px solid #FFF;
    }

    table#opponents td:nth-child(3) {
        background: #313131;
    }

    table#opponents tr:nth-child(odd) td:nth-child(3) {
        background: #414141;
    }

    tr:nth-child(odd) {
        background: #505050;
    }

    table#opponents td.W, td.W {
        background: #318531;
    }

    table#opponents tr:nth-child(odd) td.W, tr:nth-child(odd) td.W {
        background: #3CA63C;
    }

    table#opponents td.L, td.L {
        background: #a13333;
    }

    table#opponents tr:nth-child(odd) td.L, tr:nth-child(odd) td.L {
        background: #d94343;
    }

    #player-info td {
        background: #505050;
    }

    .eventslist .reg-location {
        color: #E0E0E0;
    }

    #current-season {
        background: #404040;
        border: 1px solid #888888;
    }

    #current-season h2 {
        border-bottom: 1px double #DDD;
    }

    .pct {
        color: #D8D8D8;
    }

    .light-mode-only {
        display: none;
    }

    .dark-mode-only {
        display: block;
    }

    .attr {
        color: #D0D0D0;
    }

    ul#pairing-round-select li {
        border-right: 1px solid #EEE;
    }

    .config-container::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
    }

    .config-container::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
    }

    /* mobile dark mode */
    @media (max-width: 30.5em) {
        table#standings td::before {
            color: #D0D0D0;
        }

        table#opponents td::before {
            color: #D0D0D0;
        }

        table.usage-table td::before {
            color: #D0D0D0;
        }

        ul#standings-info li {
            border-right: 0px;
        }

        .tabgroup {
            background: transparent;
            border: 0;
        }

        .tabgroup div {
            border: 1px solid #888;
            background: #606060;
        }
    }
}
