config.json
regieleki.ini
data/common/pokedex.json
data/majors
data/pastes
public/data/*
public/index.html
public/static/*.html
public/static/*.js
public/static/*.css
public/static/img/art/*
public/static/img/flags/*
public/static/ssi/*
venv
.venv
.ruff_cache
__pycache__
