config.json
regieleki.ini
data/common/pokedex.json
data/majors
data/pastes
public/data/*
public/index.html
public/static/*.html
public/static/*.min.js
public/static/*.min.css
public/static/img/art/*
public/static/img/flags/*
public/static/ssi/*
venv
__pycache__
