<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reportworm Standings</title>

    <meta name="description" content="Reportworm Standings showcases standings and teamsheets for all major VGC events such as regionals and international championships." />
    <meta name="keywords" content="Pokemon, VGC, VGC standings, VGC regional, VGC teamsheets, Pokemon Video Game Championship, Pokemon events, Pokemon regional standings" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="__STYLESHEET_FILE__" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

__GOOGLE_ANALYTICS__
