__TEMPLATE_HEAD__

<body>

<div id="app">

    __TEMPLATE_HEADER__

    <h1>VGC Event Standings</h1>

    <p>Welcome to <em>Reportworm Standings</em>, where you can find full standings and teamsheets for VGC majors.</p>

    <div id="current-season">

        <h2 v-cloak>
            Current Season: <a :href="`/${currentSeason}`">{{ currentSeason }} VGC Season</a>
        </h2>

        <p v-cloak>{{ seasonStatus }} the <strong><a :href="`/${currentSeason}`">{{ currentSeason }} VGC Season</a></strong>. The season runs from {{ seasonDates }}. The {{ currentSeason }} World Championships will be played {{ worldsDate }}.</p>

        <h3 v-if="inProgress.length > 0" v-cloak>In Progress Events</h3>

        <ul v-cloak>
            <li v-for="event in inProgress"><p><strong><a :href="`/${currentSeason}/${event.code}`">{{ event.name }}</a></strong> is currently in progress.</p></li>
        </ul>

        <h3 v-if="recent.length > 0" v-cloak>Most Recent Events</h3>

        <ul v-cloak>
            <li v-for="event in recent"><p><strong><a :href="`/${currentSeason}/${event.code}`">{{ event.name }}</a></strong> was played on {{ event.dates }}.</p></li>
        </ul>

        <h3 v-if="upcoming.length > 0" v-cloak>Upcoming Events</h3>

        <ul v-cloak>
            <li v-for="event in upcoming"><p><strong>{{ event.name }}</strong> will be played on {{ event.dates }}.</p></li>
        </ul>

    </div>

    <h2 v-if="pastSeasons.length > 0">Past Seasons</h2>

    <ul v-cloak>
        <li v-for="season in pastSeasons"><a :href="`/${season.year}`"><p><strong>{{ season.year }} Season</strong></a> - Took place from {{ season.dates }}</p></li>
    </ul>

    <h2 @click="toggleCredits()" id="creditsTitle">
        Credits 
        <span v-if="!showCredits" v-cloak>&#9656;</span>
        <span v-if="showCredits" v-cloak>&#9662;</span>
    </h2>

    <ul v-if="showCredits" v-cloak>
        <li><p>Programming and site design is by <a href="https://bsky.app/profile/mikew.reportworm.com" target="_blank">Mike W</a>, who you can find on BlueSky, I guess (I also have <a href="http://twitter.com/mikewVGC" target="_blank">a Twitter</a>). A few VGC projects can be found <a href="https://github.com/mikewVGC" target="_blank">on Github</a>.</p></li>

        <li><p>Match data provided by <a href="https://rk9.gg" target="_blank">RK9 Labs</a> and <a href="https://www.pokedata.ovh" target="_blank">Pokedata</a>.</p></li>

        <li><p>The wonderful Reportworm logo is by <a href="https://twitter.com/Chufflepop" target="_blank">Chufflepop</a>.</p></li>

        <li><p>Small sprites come from <a href="https://play.pokemonshowdown.com/" target="_blank">Pokemon Showdown</a> (specifically the <a href="https://github.com/pkmn/ps" target="_blank">pkmn/ps</a> project, if you're interested), and teamsheet art is official Pokemon art, which have been helpfully collected in the <a href="https://github.com/PokeAPI/sprites" target="_blank">PokeAPI/sprites</a> repository.</p></li>
    </ul>

    __TEMPLATE_FOOTER__

</div>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.setBootstrapData(__BOOTSTRAP_DATA__);

app.init();
</script>

</body>
</html>
