__TEMPLATE_HEAD__

<div id="app">

    __TEMPLATE_HEADER__

    <h3 v-if="eventInfo.in_progress" class="event-in-progress" v-cloak>
        This event is currently in progress! <span>So some things might look weird.</span>
    </h3>

    <component :is="currentView" v-bind="currentProps"></component>

    __TEMPLATE_FOOTER__

</div>

<template id="loading-template">

    <div id="loading">
        <h2>Loading Tournament Data</h2>
        <p>It'll  be ready in just a moment...</p>
    </div>

</template>

<template id="standings-main-template">

    <h2>{{ eventInfo.name }} Standings</h2>

    <ul id="standings-info">
        <li><em>{{ eventInfo.dates }}</em></li>
        <li><strong>Format</strong>: {{ eventInfo.format }}</li>
        <li><strong>Total Players</strong>: {{ eventInfo.playerCount }}</li>
        <li><strong>Phase Two</strong>: {{ eventInfo.phase2Count }}</li>
    </ul>

    <ul id="standings-sections">
        <li><strong>Sections:</strong></li>
        <li><a :href="`/${season}/${eventInfo.code}/usage`">Usage Stats</a></li>
        <li><a :href="`/${season}/${eventInfo.code}/countries`">Players by Country</a></li>
        <li><a :href="`/${season}/${eventInfo.code}/pairings`">Pairings</a></li>
    </ul>

    <table id="standings">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th colspan="3">Record</th>
                <th>Drop</th>
                <th>Res</th>
                <th>OpRes</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="player in standings">
                <td>{{ player.place }}</td>
                <td><a :href="`/${season}/${eventInfo.code}/player/${player.code}`">{{ player.name }}</a></td>
                <td>{{ player.record.w }}</td>
                <td>-</td>
                <td>{{ player.record.l }}</td>
                <td>{{ player.drop != -1 ? player.drop : '&nbsp;' }}</td>
                <td>{{ player.cut ? '&nbsp;' : getPct(player.res.opp, 5) }}</td>
                <td>{{ player.cut ? '&nbsp;' : getPct(player.res.oppopp, 5) }}</td>
                <td class="team-container">
                    <a :href="`/${season}/${eventInfo.code}/player/${player.code}`">
                        <div
                            v-for="mon in player.team"
                            class="monicon"
                            :style="{ backgroundPosition: getSpritePos(mon.altcode || mon.code) }"
                            :title="mon.name"
                        >{{ mon.name }}</div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<template id="player-template">

    <h2>{{ player.name }} &mdash; {{ eventInfo.name }}</h2>

    <table id="player-info">
        <thead>
            <tr>
                <th></th>
                <th>Placement</th>
                <th>Record</th>
                <th>Drop</th>
                <th>Opp Win %</th>
                <th>Opp Opp Win %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a v-if="player.country"
                        :href="`/${season}/${eventInfo.code}/country/${player.country}`"><img
                        :src="`/static/img/flags/${player.country}.svg`"
                        :title="`${player.country}`"
                        width="32"
                    /></a>
                </td>
                <td>{{ player.place }}</td>
                <td>{{ player.record.w }} - {{ player.record.l }}</td>
                <td>{{ player.drop != -1 ? player.drop : '-' }}</td>
                <td>{{ getPct(player.res.opp) }}</td>
                <td>{{ getPct(player.res.oppopp) }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Teamsheet <div id="team-copy" @click="teamCopy()" v-if="player.team.length > 0">Copy</div></h2>

    <p v-if="player.team.length == 0">No teamsheet currently available.</p>

    <div id="team">
        <div v-for="mon in player.team" class="paste-mon">
            <div class="mon-big-img">
                <img :src="`${monImgBase}/${mon.dex}.png`" width="150" height="150" />
            </div>
            <div><span :class="`type-${mon.ptype}`">{{ mon.name }}</span> @ {{ mon.item }}  </div>
            <div><span class="attr">Ability:</span> {{ mon.ability }}  </div>
            <div class="kinda-hide">Level: 50  </div>
            <div><span class="attr">Tera Type:</span> <span :class="`type-${mon.tera.toLowerCase()}`">{{ mon.tera }}</span>  </div>
            <div v-for="move in mon.moves">- {{ move }}  </div>
            <br />
        </div>
    </div>

    <h2>Opponents</h2>

    <table id="opponents">

    <template v-for="phase in player.groupedRounds">
        <thead>
            <tr class="phase-header">
                <th colspan="5">{{ getPhaseString(phase.phase) }}</th>
                <th></th>
            </tr>
            <tr class="info-header">
                <th>Rnd</th>
                <th>Opponent</th>
                <th>Result</th>
                <th>Record</th>
                <th>Res</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="opp in phase.rounds" :class="[ opp.bye ? 'bye' : '' ]">
                <td>{{ opp.rname }}</td>
                <td>
                    <template v-if="opp.bye">Bye</template>
                    <a v-else :href="`/${season}/${eventInfo.code}/player/${opp.opp}`">{{ opponents[opp.opp].name }}</a>
                </td>
                <td :class="[ opp.bye ? '' : opp.res ]">{{ opp.bye ? "" : opp.res }}</td>
                <td>
                    <template v-if="opponents[opp.opp].record">
                    ({{ opponents[opp.opp].record.w }} - {{ opponents[opp.opp].record.l }})
                    </template>
                </td>
                <td>
                    <template v-if="opponents[opp.opp].res">
                    {{ !opp.cut ? getPct(opponents[opp.opp].res.opp) : "" }}
                    </template>
                </td>
                <td class="team-container">
                    <div v-if="opponents[opp.opp].team">
                        <a :href="`/${season}/${eventInfo.code}/player/${opp.opp}`">
                            <div
                                v-for="mon in opponents[opp.opp].team"
                                class="monicon"
                                :style="{ backgroundPosition: getSpritePos(mon.code) }"
                                :title="mon.name"
                            >{{ mon.name }}</div>
                        </a>
                    </div>
                    <div v-else class="monicon monicon-ph"></div>
                </td>
            </tr>
        </tbody>

    </template>

    </table>

</template>

<template id="pairings-template">

    <h2>{{ eventInfo.name }} Pairings &mdash; {{ round.name }}</h2>

    <h4>Select Round:</h4>

    <ul id="pairing-round-select">
        <li v-for="round in allRounds">
            <a :href="`/${season}/${eventInfo.code}/pairings/${round.num}`">{{ round.name }}</a>
        </li>
    </ul>

    <table id="pairings">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pairing in pairings">
                <td :class="pairingWinClass(pairing, pairing.player.code)">
                    <a :href="`/${season}/${eventInfo.code}/player/${pairing.player.code}`">{{ pairing.player.name }}</a><br />
                    ({{ getRecordThroughRound(pairing.player, round.num) }})
                </td>
                <td>
                    <div v-if="pairing.table > 0">Table <span>{{ pairing.table }}</span></div>
                    <div v-else class="table-place"></div>
                </td>
                <td :class="pairingWinClass(pairing, pairing.opp?.code)">
                    <span v-if="pairing.opp">
                        <a :href="`/${season}/${eventInfo.code}/player/${pairing.opp.code}`">{{ pairing.opp.name }}</a><br />
                        ({{ getRecordThroughRound(pairing.opp, round.num) }})
                    </span>
                    <span v-if="pairing.other">{{ pairing.other }}</span>
                </td>
            </tr>
            <tr v-if="pairings.length == 0" v-cloak>
                <td colspan="3">No pairings for this round yet!</td>
            </tr>
        </tbody>
    </table>

</template>

<template id="country-stats-template">

    <h2>{{ eventInfo.name }} Players by Country</h2>

    <table id="country-stats">
        <thead>
            <tr>
                <th></th>
                <th>Country</th>
                <th>Players</th>
                <th>Phase 2</th>
                <th>Cut</th>
                <th>Top Player</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="countryData in countryStats">
                <td width="34">
                    <a :href="`/${season}/${eventInfo.code}/country/${countryData.country}`"><img
                        :src="`/static/img/flags/${countryData.country}.svg`"
                        :title="`${countryData.country}`"
                        width="32"
                    /></a>
                </td>
                <td>
                    <a
                        :href="`/${season}/${eventInfo.code}/country/${countryData.country}`"
                    >{{ getCountryName(countryData.country) }}</a>
                </td>
                <td>{{ countryData.players.length }}</td>
                <td>{{ countryData.phase2 }}</td>
                <td>{{ countryData.cut }}</td>
                <td>
                    <a
                        :href="`/${season}/${eventInfo.code}/player/${countryData.topPlayer.code}`"
                    >{{ standings[countryData.topPlayer.code].name }}</a>
                </td>
                <td>({{ standings[countryData.topPlayer.code].place }})</td>
            </tr>
        </tbody>
    </table>

</template>

<template id="country-template">

    <h2>Players from {{ getCountryName(country) }} &mdash; {{ eventInfo.name }}</h2>

    <table id="country-players" class="usage-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Record</th>
                <th>Res.</th>
                <th>Op Res.</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pcode in countryStats.players">
                <td>{{ standings[pcode].place }}</td>
                <td><a :href="`/${season}/${eventInfo.code}/player/${pcode}`">{{ standings[pcode].name }}</a></td>
                <td>({{ standings[pcode].record.w }} - {{ standings[pcode].record.l }})</td>
                <td>{{ getPct(standings[pcode].res.opp) }}</td>
                <td>{{ getPct(standings[pcode].res.oppopp) }}</td>
                <td class="team-container">
                    <div v-if="standings[pcode].team">
                        <a :href="`/${season}/${eventInfo.code}/player/${pcode}`">
                            <div
                                v-for="tmon in standings[pcode].team"
                                class="monicon"
                                :style="{ backgroundPosition: getSpritePos(tmon.altcode || tmon.code) }"
                                :title="tmon.name"
                            >{{ tmon.name }}</div>
                        </a>
                    </div>
                    <div v-else class="monicon monicon-ph"></div>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<template id="usage-template">

    <h2>{{ eventInfo.name }} Usage Stats</h2>

    <table id="usage">
        <thead>
            <tr>
                <th></th>
                <th class="sortable"
                    title="Pokemon"
                    @click="sortUsage('name')"
                    :class="getSortedClass('name')">Name</th>
                <th class="sortable"
                    title="Total used"
                    @click="sortUsage('total')"
                    :class="getSortedClass('total')"
                >Total</th>
                <th class="sortable"
                    title="Number that earned points"
                    @click="sortUsage('points')"
                    :class="getSortedClass('points')"
                >Points</th>
                <th class="sortable"
                    title="Number that made Phase 2"
                    @click="sortUsage('phase2')"
                    :class="getSortedClass('phase2')"
                >Phase 2</th>
                <th class="sortable"
                    title="Phase 2 Conversion Rate"
                    @click="sortUsage('phase2Conversion')"
                    :class="getSortedClass('phase2Conversion')"
                >Ph2 Cnv</th>
                <th class="sortable"
                    title="Number that made Top Cut"
                    @click="sortUsage('cut')"
                    :class="getSortedClass('cut')"
                >Cut</th>
                <th class="sortable"
                    title="Top Cut Conversion Rate"
                    @click="sortUsage('cutConversion')"
                    :class="getSortedClass('cutConversion')"
                >Cut Cnv</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="mon in usage">
                <td>
                    <div
                        class="monicon"
                        :style="{ backgroundPosition: getSpritePos(mon.altcode || mon.code) }"
                        :title="mon.name"
                    >{{ mon.name }}</div>
                </td>
                <td><a :href="`/${season}/${eventInfo.code}/mon/${mon.code}`">{{ mon.name }}</a></td>
                <td>{{ mon.counts.total }} <span class="pct">({{ getPct(mon.counts.total / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.points }} <span class="pct">({{ getPct(mon.counts.points / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.phase2 }} <span class="pct">({{ getPct(mon.counts.phase2 / eventInfo.phase2Count, 4) }})</span></td>
                <td>{{ getPct(mon.counts.phase2Conversion, 5) }}</td>
                <td>{{ mon.counts.cut }}</td>
                <td>{{ getPct(mon.counts.cutConversion, 5) }}</td>
            </tr>
            <tr v-if="usage.length == 0" v-cloak>
                <td colspan="8">No usage stats for this event yet.</td>
            </tr>
        </tbody>
    </table>

</template>

<template id="mon-template">

    <h2>{{ mon.name }} Usage &mdash; {{ eventInfo.name }}</h2>

    <table id="usage-info">
        <thead>
            <tr>
                <th></th>
                <th title="Total used">Total</th>
                <th title="Number that earned points">Points</th>
                <th title="Number that made Phase 2">Phase 2</th>
                <th title="Phase 2 Conversion Rate">Ph2 Cnv</th>
                <th title="Number that made Top Cut">Cut</th>
                <th title="Top Cut Conversion Rate">Cut Cnv</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img :src="`${monImgBase}/${mon.dex}.png`" width="150" height="150" />
                </td>
                <td>{{ mon.counts.total }} <span class="pct">({{ getPct(mon.counts.total / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.points }} <span class="pct">({{ getPct(mon.counts.points / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.phase2 }} <span class="pct">({{ getPct(mon.counts.phase2 / eventInfo.phase2Count, 4) }})</span></td>
                <td>{{ getPct(mon.counts.phase2Conversion, 5) }}</td>
                <td>{{ mon.counts.cut }}</td>
                <td>{{ getPct(mon.counts.cutConversion, 5) }}</td>
            </tr>
        </tbody>
    </table>

    <h3>{{ mon.name }} Configurations</h3>

    <div class="config-container">

        <table id="item-info">
            <thead>
                <tr>
                    <th colspan="2">Item Name</th>
                    <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="itemInfo in mon.items">
                    <td>
                        <div
                            v-if="itemInfo.code != 'noitem'"
                            class="itemicon"
                            :style="{ backgroundPosition: getSpritePos(itemInfo.code) }"
                            :title="itemInfo.name"
                        >{{ itemInfo.name }}</div>
                    </td>
                    <td>{{ itemInfo.name }}</td>
                    <td>{{ itemInfo.count }}</td>
                    <td><span class="pct">({{ getPct(itemInfo.count / mon.counts.total) }})</span></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="config-container">

        <table id="move-info">
            <thead>
                <tr>
                    <th>Move Name</th>
                    <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="moveInfo in mon.moves">
                    <td>{{ moveInfo.name }}</td>
                    <td>{{ moveInfo.count }}</td>
                    <td><span class="pct">({{ getPct(moveInfo.count / mon.counts.total) }})</span></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="config-container">

        <table id="tera-info">
            <thead>
                <tr>
                    <th colspan="2">Tera Type</th>
                    <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="teraInfo in mon.teras">
                    <td>
                        <div :class="`tera-icon tera-${teraInfo.name.toLowerCase()}`">Tera {{ teraInfo.name }}</div>
                    </td>
                    <td>{{ teraInfo.name }}</td>
                    <td>{{ teraInfo.count }}</td>
                    <td><span class="pct">({{ getPct(teraInfo.count / mon.counts.total) }})</span></td>
                </tr>
            </tbody>
        </table>

    </div>

    <h3>All {{ mon.name }} Teams</h3>

    <table id="mon-users" class="usage-table">
        <thead>
            <tr class="info-header">
                <th title="Placement">Pl.</th>
                <th>Player</th>
                <th>Record</th>
                <th>Res</th>
                <th>Op Res</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pcode in mon.players">
                <td>{{ standings[pcode].place }}</td>
                <td>
                    <a :href="`/${season}/${eventInfo.code}/player/${pcode}`">{{ standings[pcode].name }}</a>
                </td>
                <td>({{ standings[pcode].record.w }} - {{ standings[pcode].record.l }})</td>
                <td>{{ getPct(standings[pcode].res.opp) }}</td>
                <td>{{ getPct(standings[pcode].res.oppopp) }}</td>
                <td class="team-container">
                    <div v-if="standings[pcode].team">
                        <a :href="`/${season}/${eventInfo.code}/player/${pcode}`">
                            <div
                                v-for="tmon in standings[pcode].team"
                                class="monicon"
                                :style="{ backgroundPosition: getSpritePos(tmon.altcode || tmon.code) }"
                                :title="tmon.name"
                            >{{ tmon.name }}</div>
                        </a>
                    </div>
                    <div v-else class="monicon monicon-ph"></div>
                </td>
            </tr>
        </tbody>
    </table>

</template>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.setSpriteCoords(JSON.parse('__SPRITE_COORDS_DATA__'));
app.setCountryCodes(JSON.parse('__COUNTRY_CODE_DATA__'));
app.setMonImgBase('__MON_IMG_BASE__');

app.init();
</script>

</body>
</html>
