__TEMPLATE_HEAD__

<div id="app">

    __TEMPLATE_HEADER__

    <component :is="currentView" v-bind="currentProps"></component>

    __TEMPLATE_FOOTER__

</div>

<template id="loading-template">

    <h2>Loading Tournament Data</h2>
    <p>It'll  be ready in just a moment...</p>

</template>

<template id="standings-main-template">

    <h2>{{ eventInfo.name }} Standings</h2>

    <ul id="standings-info">
        <li><em>{{ eventInfo.dates }}</em></li>
        <li><strong>Format</strong>: {{ eventInfo.format }}</li>
        <li><strong>Total Players</strong>: {{ eventInfo.playerCount }}</li>
        <li><strong>Phase Two</strong>: {{ eventInfo.phase2Count }}</li>
    </ul>

    <h3><strong>Sections:</strong> <a href="#/usage">Usage Stats</a></h3>

    <table id="standings">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th colspan="3">Record</th>
                <th>Drop</th>
                <th>Res</th>
                <th>OpRes</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="player in standings">
                <td>{{ player.place }}</td>
                <td><a :href="`#/player/${player.code}`">{{ player.name }}</a></td>
                <td>{{ player.record.w }}</td>
                <td>-</td>
                <td>{{ player.record.l }}</td>
                <td>{{ player.drop != -1 ? player.drop : '&nbsp;' }}</td>
                <td>{{ player.cut ? '&nbsp;' : getPct(player.res.opp, 5) }}</td>
                <td>{{ player.cut ? '&nbsp;' : getPct(player.res.oppopp, 5) }}</td>
                <td class="team-container">
                    <a :href="`#/player/${player.code}`">
                        <div
                            v-for="mon in player.team"
                            class="monicon"
                            :style="{ backgroundPosition: getSpritePos(mon.altcode || mon.code) }"
                            :title="mon.name"
                        >{{ mon.name }}</div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<template id="usage-template">

    <h2>{{ eventInfo.name }} Usage Stats</h2>

    <table id="usage">
        <thead>
            <tr>
                <th></th>
                <th class="sortable"
                    title="Pokemon"
                    @click="sortUsage('name')"
                    :class="getSortedClass('name')">Name</th>
                <th class="sortable"
                    title="Total used"
                    @click="sortUsage('total')"
                    :class="getSortedClass('total')"
                >Total</th>
                <th class="sortable"
                    title="Number that earned points"
                    @click="sortUsage('points')"
                    :class="getSortedClass('points')"
                >Points</th>
                <th class="sortable"
                    title="Number that made Phase 2"
                    @click="sortUsage('phase2')"
                    :class="getSortedClass('phase2')"
                >Phase 2</th>
                <th class="sortable"
                    title="Phase 2 Conversion Rate"
                    @click="sortUsage('phase2Conversion')"
                    :class="getSortedClass('phase2Conversion')"
                >Ph2 Cnv</th>
                <th class="sortable"
                    title="Number that made Top Cut"
                    @click="sortUsage('cut')"
                    :class="getSortedClass('cut')"
                >Cut</th>
                <th class="sortable"
                    title="Top Cut Conversion Rate"
                    @click="sortUsage('cutConversion')"
                    :class="getSortedClass('cutConversion')"
                >Cut Cnv</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="mon in usage">
                <td>
                    <div
                        class="monicon"
                        :style="{ backgroundPosition: getSpritePos(mon.altcode || mon.code) }"
                        :title="mon.name"
                    >{{ mon.name }}</div>
                </td>
                <td><a :href="`#/mon/${mon.code}`">{{ mon.name }}</a></td>
                <td>{{ mon.counts.total }} <span class="pct">({{ getPct(mon.counts.total / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.points }} <span class="pct">({{ getPct(mon.counts.points / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.phase2 }} <span class="pct">({{ getPct(mon.counts.phase2 / eventInfo.phase2Count, 4) }})</span></td>
                <td>{{ getPct(mon.counts.phase2Conversion, 5) }}</td>
                <td>{{ mon.counts.cut }}</td>
                <td>{{ getPct(mon.counts.cutConversion, 5) }}</td>
            </tr>
        </tbody>
    </table>

</template>

<template id="mon-template">

    <h2>{{ mon.name }} Usage &mdash; {{ eventInfo.name }}</h2>

    <table id="usage-info">
        <thead>
            <tr>
                <th></th>
                <th title="Total used">Total</th>
                <th title="Number that earned points">Points</th>
                <th title="Number that made Phase 2">Phase 2</th>
                <th title="Phase 2 Conversion Rate">Ph2 Cnv</th>
                <th title="Number that made Top Cut">Cut</th>
                <th title="Top Cut Conversion Rate">Cut Cnv</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img :src="`${monImgBase}/${mon.dex}.png`" width="150" height="150" />
                </td>
                <td>{{ mon.counts.total }} <span class="pct">({{ getPct(mon.counts.total / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.points }} <span class="pct">({{ getPct(mon.counts.points / eventInfo.playerCount, 4) }})</span></td>
                <td>{{ mon.counts.phase2 }} <span class="pct">({{ getPct(mon.counts.phase2 / eventInfo.phase2Count, 4) }})</span></td>
                <td>{{ getPct(mon.counts.phase2Conversion, 5) }}</td>
                <td>{{ mon.counts.cut }}</td>
                <td>{{ getPct(mon.counts.cutConversion, 5) }}</td>
            </tr>
        </tbody>
    </table>

    <h3>All {{ mon.name }} Teams</h3>

    <table id="mon-users">
        <thead>
            <tr class="info-header">
                <th title="Placement">Pl.</th>
                <th>Player</th>
                <th>Record</th>
                <th>Res</th>
                <th>Op Res</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pcode in mon.players">
                <td>{{ standings[pcode].place }}</td>
                <td>
                    <a :href="`#/player/${pcode}`">{{ standings[pcode].name }}</a>
                </td>
                <td>({{ standings[pcode].record.w }} - {{ standings[pcode].record.l }})</td>
                <td>{{ getPct(standings[pcode].res.opp) }}</td>
                <td>{{ getPct(standings[pcode].res.oppopp) }}</td>
                <td>
                    <div v-if="standings[pcode].team" class="team-holder">
                        <a :href="`#/player/${pcode}`">
                            <div
                                v-for="tmon in standings[pcode].team"
                                class="monicon"
                                :style="{ backgroundPosition: getSpritePos(tmon.altcode || tmon.code) }"
                                :title="tmon.name"
                            >{{ tmon.name }}</div>
                        </a>
                    </div>
                    <div v-else class="monicon monicon-ph"></div>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<template id="player-template">

    <h2>{{ player.name }} &mdash; {{ eventInfo.name }}</h2>

    <table id="player-info">
        <thead>
            <tr>
                <th>Placement</th>
                <th>Record</th>
                <th>Drop</th>
                <th>Opp Win %</th>
                <th>Opp Opp Win %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ player.place }}</td>
                <td>{{ player.record.w }} - {{ player.record.l }}</td>
                <td>{{ player.drop != -1 ? player.drop : '-' }}</td>
                <td>{{ getPct(player.res.opp) }}</td>
                <td>{{ getPct(player.res.oppopp) }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Teamsheet <div id="team-copy" @click="teamCopy()" v-if="player.team.length > 0">Copy</div></h2>

    <p v-if="player.team.length == 0">No teamsheet currently available.</p>

    <div id="team">
        <div v-for="mon in player.team" class="paste-mon">
            <div class="mon-big-img">
                <img :src="`${monImgBase}/${mon.dex}.png`" width="150" height="150" />
            </div>
            <div><span :class="`type-${mon.ptype}`">{{ mon.name }}</span> @ {{ mon.item }}  </div>
            <div><span class="attr">Ability:</span> {{ mon.ability }}  </div>
            <div class="kinda-hide">Level: 50  </div>
            <div><span class="attr">Tera Type:</span> <span :class="`type-${mon.tera.toLowerCase()}`">{{ mon.tera }}</span>  </div>
            <div v-for="move in mon.moves">- {{ move }}  </div>
            <br />
        </div>
    </div>

    <h2>Opponents</h2>

    <table id="opponents">

    <template v-for="phase in player.groupedRounds">
        <thead>
            <tr class="phase-header">
                <th colspan="5">{{ getPhaseString(phase.phase) }}</th>
                <th></th>
            </tr>
            <tr class="info-header">
                <th>Rnd</th>
                <th>Opponent</th>
                <th>Result</th>
                <th>Record</th>
                <th>Res</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="opp in phase.rounds" :class="[ opp.bye ? 'bye' : '' ]">
                <td>{{ opp.rname }}</td>
                <td>
                    <template v-if="opp.bye">Bye</template>
                    <a v-else :href="`#/player/${opp.opp}`">{{ opponents[opp.opp].name }}</a>
                </td>
                <td :class="[ opp.bye ? '' : opp.res ]">{{ opp.bye ? "" : opp.res }}</td>
                <td>
                    <template v-if="opponents[opp.opp].record">
                    ({{ opponents[opp.opp].record.w }} - {{ opponents[opp.opp].record.l }})
                    </template>
                </td>
                <td>
                    <template v-if="opponents[opp.opp].res">
                    {{ !opp.cut ? getPct(opponents[opp.opp].res.opp) : "" }}
                    </template>
                </td>
                <td>
                    <div v-if="opponents[opp.opp].team" class="team-holder">
                        <a :href="`#/player/${opp.opp}`">
                            <div
                                v-for="mon in opponents[opp.opp].team"
                                class="monicon"
                                :style="{ backgroundPosition: getSpritePos(mon.code) }"
                                :title="mon.name"
                            >{{ mon.name }}</div>
                        </a>
                    </div>
                    <div v-else class="monicon monicon-ph"></div>
                </td>
            </tr>
        </tbody>

    </template>

    </table>

</template>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.setSpriteCoords(JSON.parse('__SPRITE_COORDS_DATA__'));
app.setMonImgBase('__MON_IMG_BASE__');

app.init();
</script>

</body>
</html>
