    <div class="info-block" id="reportworm-stats">
        <a href="https://meta.reportworm.com/" data-pass="1" target="_blank">
            Introducing <u><strong>Reportworm Meta</strong></u>, a snapshot of the most successful teams in the current regulation!
        </a>
    </div>

    <header id="header">
        <h1><a href="/" data-pass="1">Reportworm Standings</a></h1>
    </header>

    <nav>
        <div class="tabgroup" v-cloak>
            <div id="home-button">
                <a href="/" data-pass="1">𑁔</a>
            </div>
            <div v-for="item in nav" :class="[ item.active ? 'active' : '' ]" v-cloak>
                <a :href="item.link" :data-pass="'pass' in item ? item.pass : '0'">{{ item.text }}</a>
            </div>
        </div>
    </nav>
