    <div class="event-in-progress" id="reportworm-stats">
        <a href="https://svstats.reportworm.com" data-pass="1">
            Check out <strong><u>Reportworm Stats</u></strong> for a full summary of the <em>Scarlet &amp; Violet</em> era!
        </a>
    </div>

    <header id="header">
        <h1><a href="/" data-pass="1">Reportworm Standings</a></h1>
    </header>

    <nav>
        <div class="tabgroup" v-cloak>
            <div id="home-button">
                <a href="/" data-pass="1">𑁔</a>
            </div>
            <div v-for="item in nav" :class="[ item.active ? 'active' : '' ]" v-cloak>
                <a :href="item.link" :data-pass="'pass' in item ? item.pass : '0'">{{ item.text }}</a>
            </div>
        </div>
    </nav>
