__TEMPLATE_HEAD__

<body>

<div id="app">

__TEMPLATE_HEADER__

    <h1>VGC Event Standings</h1>

    <p>Welcome to <em>Reportworm Standings</em>, where you can find full standings and teamsheets for VGC majors.</p>

    <p v-cloak>{{ seasonStatus }} the <strong><a :href="`/${currentSeason}`">{{ currentSeason }} VGC Season</a></strong>. The season runs from {{ seasonDates }}. The <strong>{{ currentSeason }} World Championships</strong> will be played <em>{{ worldsDate }}</em>.</p>

    <div id="current-season" v-cloak>

        <h2 v-cloak>Recent and Upcoming Events &mdash; <a :href="`/${currentSeason}`">{{ currentSeason }} VGC Season</a></h2>

        <p>For the complete calendar, check out the full <strong><a :href="`/${currentSeason}`">{{ currentSeason }} VGC Season</a></strong>.</p>

        <h3 v-if="inProgress.length > 0" v-cloak>In Progress Events</h3>

        <div v-if="inProgress.length > 0">
            <a
                v-for="event in inProgress"
                :href="`/${currentSeason}/${event.code}`"
                class="event-block full-block"
            >
                <div
                    class="title"
                    :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
                >
                    <div>{{ event.name }}</div>
                    <em>{{ event.dates }}</em>
                </div>
                <div></div>
                <div>
                    <strong>Format</strong>
                    {{ event.format }}<br />
                    <em>{{ event.game }}</em>
                </div>
                <div>
                    <strong>Players</strong>
                    {{ event.playerCount }}
                </div>
            </a>
        </div>

        <h3 v-if="recent.length > 0" v-cloak>Recently Completed Events</h3>

        <div v-if="recent.length > 0" class="home-events-container">
            <a v-for="event in recent" :href="`/${currentSeason}/${event.code}`" class="event-block">
                <div
                    :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
                    class="title"
                ><div>{{ event.name }}</div></div>
                <div>{{ event.dates }}</div>
                <div>
                    <strong>Winner</strong>
                    {{ event.winner }}
                </div>
                <div>
                    <strong>Players</strong>
                    {{ event.playerCount }}
                </div>
                <div>
                    <strong>Format</strong>
                    {{ event.format }}<br />
                    <em>{{ event.game }}</em>
                </div>
            </a>
        </div>

        <h3 v-if="upcoming.length > 0" v-cloak>Upcoming Events</h3>

        <div v-if="upcoming.length > 0" class="home-events-container">
            <div v-for="event in upcoming" class="event-block up-block">
                <div
                    class="title"
                    :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
                >
                    <a v-if="event.processed" :href="`/${currentSeason}/${event.code}`">{{ event.name }}</a>
                    <span v-else>{{ event.name }}</span>
                </div>
                <div>{{ event.dates }}</div>
                <div>
                    <strong>Format</strong>
                    {{ event.format }}<br />
                    <em>{{ event.game }}</em>
                </div>
            </div>
        </div>

    </div>

    <h2 v-if="pastSeasons.length > 0">Previous Seasons</h2>

    <div v-if="pastSeasons.length > 0" v-cloak>

        <a
            v-for="season in pastSeasons"
            :href="`/${season.year}`"
            class="event-block full-block past-season-block"
        >
            <div class="title">
                <div>{{ season.year }} Season</div>
                <em>{{ season.dates }}</em>
            </div>
            <div>
                <strong>Events</strong>
                {{ season.events }}
            </div>
            <div>
                <strong>World Champion</strong>
                {{ season.champ }}
            </div>
        </a>

    </div>

    <h2>Combined Stats</h2>

    <p><strong><a href="https://svstats.reportworm.com/" target="_blank">Reportworm Stats</a></strong> showcases combined Pokemon and player stats for all in person events played in <em>Scarlet &amp; Violet</em>.</p>

    <h2>Other Info</h2>

    <p>Please note that while every attempt is made to have accurate standings and data, Reportworm Standings are calculated outside of tournament software and are thus not official. Please consult your <a href="https://trainer.pokemon.com/profile" target="_blank">Play Pokemon Profile</a> and <a href="https://rk9.gg/profile" target="_blank">RK9 Profile</a> for official standings and info.</p>

    <h2 @click="toggleCredits()" id="creditsTitle">
        Credits 
        <span v-if="!showCredits" v-cloak>&#9656;</span>
        <span v-if="showCredits" v-cloak>&#9662;</span>
    </h2>

    <ul v-if="showCredits" v-cloak>
        <li><p>Programming and site design is by <a href="https://bsky.app/profile/mikew.reportworm.com" target="_blank">Mike W</a>, who you can find on BlueSky, I guess (I also have <a href="http://twitter.com/mikewVGC" target="_blank">a Twitter</a>). A few VGC projects (including this one) can be found <a href="https://github.com/mikewVGC" target="_blank">on my Github</a>.</p></li>

        <li><p>Match data provided by <a href="https://rk9.gg" target="_blank">RK9 Labs</a>, <a href="https://playlatam.net" target="_blank">playlatam</a>, and <a href="https://www.pokedata.ovh" target="_blank">Pokedata</a>.</p></li>

        <li><p>The wonderful Reportworm logo is by <a href="https://twitter.com/Chufflepop" target="_blank">Chufflepop</a>.</p></li>

        <li><p>Small sprites come from <a href="https://play.pokemonshowdown.com/" target="_blank">Pokemon Showdown</a> (specifically the <a href="https://github.com/smogon/sprites" target="_blank">smogon/sprites</a> repo), and teamsheet art is official Pokemon art, which have been helpfully collected in the <a href="https://github.com/PokeAPI/sprites" target="_blank">PokeAPI/sprites</a> repository.</p></li>

        <li><p>This site uses <a href="https://vuejs.org" target="_blank">Vue.js</a> for the front-end. Flag icons provided by <a href="https://flagicons.lipis.dev" target="_blank">Flag Icons</a>.</p></li>

        <li><p>Reportworm proudly contains 0% AI generated code, and is made in New York. You can check out the <a href="https://github.com/mikewVGC/vgc-standings">the Github repo</a> if you're interested.</p></li>
    </ul>

__TEMPLATE_FOOTER__

</div>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.setBootstrapData(__BOOTSTRAP_DATA__);

app.init();
</script>

</body>
</html>
