__TEMPLATE_HEAD__

<body>

<div id="app">

__TEMPLATE_HEADER__

    <component :is="currentView" v-bind="currentProps"></component>

__TEMPLATE_FOOTER__

</div>

<template id="loading-template">
    <h2>Loading Season Data</h2>
    <p>It'll  be ready in just a moment...</p>
</template>

<template id="season-main-template">

    <h2>{{ season }} VGC Event Calendar</h2>

    <div v-if="inProgressMajors.length > 0"  class="season-events-container" v-cloak>

        <h3>In Progress Events</h3>

        <p>In progress event data will periodically refresh, but may not always be up to date.</p>

        <a v-for="event in inProgressMajors" :href="`/${season}/${event.code}`" class="event-block full-block">
            <div
                class="title"
                :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
            >
                <strong>{{ event.region }}</strong>
                <div>{{ event.name }}</div>
                <em>{{ event.country }}</em>
            </div>
            <div>
                <strong>Format</strong>
                {{ event.format }}<br />
                <em>{{ event.game }}</em>
            </div>
            <div></div>
            <div>
                <strong>Players</strong>
                {{ event.playerCount }}
            </div>

            <div class="date"><em>{{ event.dates }}</em></div>
        </a>

    </div>

    <div class="season-events-container" v-if="majors.length > 0" v-cloak>

        <h3>Completed Events</h3>

        <a v-for="event in majors" :href="`/${season}/${event.code}`" class="event-block full-block">
            <div
                class="title"
                :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
            >
                <strong>{{ event.region }}</strong>
                <div>{{ event.name }}</div>
                <em>{{ event.country }}</em>
            </div>
            <div>
                <strong>Format</strong>
                {{ event.format }}<br />
                <em>{{ event.game }}</em>
            </div>
            <div>
                <strong>Winner</strong>
                {{ event.winner }}
            </div>
            <div>
                <strong>Players</strong>
                {{ event.playerCount }}
            </div>

            <div class="date"><em>{{ event.dates }}</em></div>
        </a>

    </div>

    <div class="season-events-container" v-if="futureMajors.length > 0" v-cloak>

        <h3>Upcoming Events</h3>

        <div v-for="event in futureMajors" class="event-block full-block">
            <div
                class="title"
                :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
            >
                <strong>{{ event.region }}</strong>
                <div v-if="event.processed">
                    <a :href="`/${season}/${event.code}`">{{ event.name }}</a><br />
                </div>
                <b v-else>{{ event.name }}<br /></b>
                <em>{{ event.country }}</em>
            </div>
            <div>
                <strong>Format</strong>
                {{ event.format }}<br />
                <em>{{ event.game }}</em>
            </div>
            <div></div>
            <div></div>

            <div class="date"><em>{{ event.dates }}</em></div>
        </div>

    </div>

</template>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.init();
</script>

</body>
</html>
