__TEMPLATE_HEAD__

<body>

<div id="app">

__TEMPLATE_HEADER__

    <component :is="currentView" v-bind="currentProps"></component>

__TEMPLATE_FOOTER__

</div>

<template id="loading-template">
    <h2>Loading Season Data</h2>
    <p>It'll  be ready in just a moment...</p>
</template>

<template id="season-main-template">

    <h2>{{ season }} VGC Event Calendar</h2>

    <div id="season-search">
        <div>
            <input
                type="text"
                placeholder="Search by event name"
                id="eventNameSearch"
                @input="searchEvents"
                :value="eventSearchStr"
            />
            <div
                class="searchFunc clearSearch"
                v-if="eventSearchStr.length"
                @click="clearEventSearch"
            >&times;</div>
        </div>

        <div id="event-type-select">
            <label><strong>View:</strong></label>
            <select @change="updateEventsFilter" :value="eventTypeFilter">
                <option value="all">All Events</option>
                <option value="in-progress">In Progress Events</option>
                <option value="completed">Completed Events</option>
                <option value="upcoming">Upcoming Events</option>
            </select>
        </div>

        <div id="event-region-select">
            <label><strong>Region:</strong></label>
            <select @change="updateRegionFilter" :value="eventRegionFilter">
                <option value="all">All Regions</option>
                <option value="North America">North America</option>
                <option value="Europe">Europe</option>
                <option value="Latin America">Latin America</option>
                <option value="Oceania">Oceania</option>
                <option value="Middle East & South Africa">Middle East & South Africa</option>
            </select>
        </div>

    </div>

    <div v-if="showList('in-progress')" class="season-events-container" v-cloak>

        <h3>In Progress Events</h3>

        <p>In progress event data will periodically refresh, but may not always be up to date.</p>

        <a v-for="event in inProgressMajors" :href="`/${season}/${event.code}`" class="event-block full-block">
            <div
                class="title"
                :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
            >
                <strong>{{ event.region }}</strong>
                <div>{{ event.name }}</div>
                <em>{{ event.country }}</em><br />
                <em>{{ event.dates }}</em>
            </div>
            <div>
                <strong>Format</strong>
                {{ event.format }}<br />
                <em>{{ event.game }}</em>
            </div>
            <div></div>
            <div>
                <strong>Players</strong>
                {{ event.playerCount }}
            </div>
        </a>

    </div>

    <div v-if="showList('completed')" class="season-events-container" v-cloak>

        <h3>Completed Events</h3>

        <a v-for="event in majors" :href="`/${season}/${event.code}`" class="event-block full-block">
            <div
                class="title"
                :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
            >
                <strong>{{ event.region }}</strong>
                <div>{{ event.name }}</div>
                <em>{{ event.country }}</em><br />
                <em>{{ event.dates }}</em>
            </div>
            <div>
                <strong>Format</strong>
                {{ event.format }}<br />
                <em>{{ event.game }}</em>
            </div>
            <div>
                <strong>Winner</strong>
                {{ event.winner }}
            </div>
            <div>
                <strong>Players</strong>
                {{ event.playerCount }}
            </div>
        </a>

    </div>

    <div v-if="showList('upcoming')" class="season-events-container" v-cloak>

        <h3>Upcoming Events</h3>

        <div v-for="event in futureMajors" class="event-block full-block">
            <div
                class="title"
                :style="`background-image:url(/static/img/flags/${event.flag}.svg)`"
            >
                <strong>{{ event.region }}</strong>
                <div v-if="event.processed">
                    <a :href="`/${season}/${event.code}`">{{ event.name }}</a><br />
                </div>
                <b v-else>{{ event.name }}<br /></b>
                <em>{{ event.country }}</em><br />
                <em>{{ event.dates }}</em>
            </div>
            <div>
                <strong>Format</strong>
                {{ event.format }}<br />
                <em>{{ event.game }}</em>
            </div>
            <div></div>
            <div></div>
        </div>

    </div>

    <div v-if="!showList('in-progress') && !showList('completed') && !showList('upcoming')" v-cloak>

        <h3>No Events Found!</h3>

        <p>Your search criteria didn't match any results.</p>

    </div>


</template>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.init();
</script>

</body>
</html>
