__TEMPLATE_HEAD__

<div id="app">

__TEMPLATE_HEADER__

    <h3 v-if="eventInfo.status == 'in_progress'" class="event-in-progress" v-cloak>
        This event is currently in progress! <span>So some things might look weird.</span>
    </h3>

    <h3 v-if="eventInfo.processed && eventInfo.status == 'upcoming'" class="event-team-submit" v-cloak>
        This event hasn't started yet! The players below have already submitted teams.
    </h3>

    <h3 v-if="'note' in eventInfo" class="event-incomplete-data" v-cloak>
        {{ eventInfo.note }}
    </h3>

    <component :is="currentView" v-bind="currentProps"></component>

__TEMPLATE_FOOTER__

</div>

<template id="loading-template">

    <div id="loading">
        <h2>Loading Tournament Data</h2>
        <p>It'll  be ready in just a moment...</p>
    </div>

</template>

<template id="standings-main-template">

    <h2>{{ eventInfo.name }} Standings</h2>

    <ul id="standings-info">
        <li><em>{{ eventInfo.dates }}</em></li>
        <li><strong>Format</strong>: {{ eventInfo.format }}</li>
        <li><strong>Total Players</strong>: {{ eventInfo.playerCount }}</li>
        <li><strong>Phase Two</strong>: {{ eventInfo.phase2Count }}</li>
    </ul>

    <ul id="standings-sections">
        <li><strong>Sections:</strong></li>
        <li><a :href="`/${season}/${eventInfo.code}/usage`">Usage Stats</a></li>
        <li><a :href="`/${season}/${eventInfo.code}/countries`">Players by Country</a></li>
        <li><a :href="`/${season}/${eventInfo.code}/pairings`">Pairings</a></li>
    </ul>

    <!-- <ul>
        <li><strong>RK9</strong></li>
        <li><a href="" target="_blank">Roster</a></il>
        <li><a href="" target="_blank">Pairings</a></li>
    </ul> -->

    <table id="favorites" class="main-standings" v-if="validFavs.length" v-cloak>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Favorites</th>
                <th colspan="3">Record</th>
                <th>Drop</th>
                <th>Res</th>
                <th>OpRes</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr
                is="vue:standings-row"
                v-for="pcode in validFavs"
                :key="pcode"
                :pcode="pcode"
                :standings="standings"
                :event-info="eventInfo"
                :season="season"
                :show-drop="true"
                :always-show-res="false"
            ></tr>
        </tbody>
    </table>

    <div class="filter-area" v-if="standings">
        <input
            type="text"
            placeholder="Search by name"
            id="playerStandingsSearch"
            @input="searchPlayerStandings"
            :value="playerStandingsSearch"
        />
        <div
            class="searchFunc clearSearch"
            v-if="playerStandingsSearch.length"
            @click="clearStandingsSearch"
        >&times;</div>
    </div>

    <table id="standings" class="main-standings">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th colspan="3">Record</th>
                <th>Drop</th>
                <th>Res</th>
                <th>OpRes</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr
                is="vue:standings-row"
                v-for="pcode in filteredStandings"
                :key="pcode"
                :pcode="pcode"
                :standings="standings"
                :event-info="eventInfo"
                :season="season"
                :show-drop="true"
                :always-show-res="false"
            ></tr>
            <tr v-if="!filteredStandings.length">
                <td colspan="10">No results</td>
            </tr>
        </tbody>
    </table>
</template>

<template id="standings-row-template">
    <tr>
        <td>{{ standings[pcode].place }}</td>
        <td>
            <div
                @click="toggleFav(pcode)"
                :class="[ isFav(pcode) ? 'faved' : 'favicon' ]"
                v-if="1"
            >
                <span  title="Remove Favorite" v-if="isFav(pcode)">&#9733;</span>
                <span title="Add Favorite" v-else>&#9734;</span>
            </div>
        </td>
        <td><a :href="`/${season}/${eventInfo.code}/player/${standings[pcode].code}`">{{ standings[pcode].name }}</a></td>
        <td>{{ standings[pcode].record.w }}</td>
        <td>-</td>
        <td>{{ standings[pcode].record.l }}</td>
        <td>{{ showDrop && standings[pcode].drop != -1 ? standings[pcode].drop : '&nbsp;' }}</td>
        <td>{{ standings[pcode].cut && !alwaysShowRes ? '&nbsp;' : getPct(standings[pcode].res.opp, 5) }}</td>
        <td>{{ standings[pcode].cut && !alwaysShowRes ? '&nbsp;' : getPct(standings[pcode].res.oppopp, 5) }}</td>
        <td class="team-container">
            <a :href="`/${season}/${eventInfo.code}/player/${standings[pcode].code}`">
                <div
                    v-for="mon in standings[pcode].team"
                    class="monicon"
                    :style="{ backgroundPosition: getSpritePos(mon.altcode || mon.code) }"
                    :title="mon.name"
                >{{ mon.name }}</div>
            </a>
        </td>
    </tr>
</template>

<template id="player-template">

    <h2>{{ player.name }} &mdash; {{ eventInfo.name }}</h2>

    <table id="player-info">
        <thead>
            <tr>
                <th></th>
                <th>Placement</th>
                <th>Record</th>
                <th>Points</th>
                <th>Drop</th>
                <th>Opp Win %</th>
                <th>Opp Opp Win %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a v-if="player.country"
                        :href="`/${season}/${eventInfo.code}/country/${player.country}`"><img
                        :src="`/static/img/flags/${player.country}.svg`"
                        :title="`${player.country}`"
                        width="32"
                    /></a>
                </td>
                <td>{{ player.place }}</td>
                <td>{{ player.record.w }} - {{ player.record.l }}</td>
                <td>{{ player.points }}</th>
                <td>{{ player.drop != -1 ? player.drop : '-' }}</td>
                <td>{{ getPct(player.res.opp) }}</td>
                <td>{{ getPct(player.res.oppopp) }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Teamsheet Paste<div id="team-copy" @click="teamCopy()" v-if="player.team.length > 0">Copy</div></h2>

    <p v-if="player.team.length == 0">No teamsheet currently available.</p>

    <div class="table-holder">

        <div id="team">
            <div v-for="mon in player.team" class="paste-mon">
                <div class="mon-big-img">
                    <img :src="`${monImgBase}/${mon.dex}.png`" width="150" height="150" />
                    <div
                        class="itemicon hditemicon"
                        :style="{ backgroundPosition: getHDItemSpritePos(mon.itemcode) }"
                    ></div>
                </div>
                <div><span :class="`type-${mon.ptype}`">{{ mon.name }}</span> @ {{ mon.item }}  </div>
                <div><span class="attr">Ability:</span> {{ mon.ability }}  </div>
                <div class="kinda-hide">Level: 50  </div>
                <div><span class="attr">Tera Type:</span> <span :class="`type-${mon.tera.toLowerCase()}`">{{ mon.tera }}</span>  </div>
                <div v-for="move in mon.moves">- {{ move }}  </div>
                <br />
            </div>
        </div>

    </div>

    <h2 id="opp-header">Opponents</h2>

    <label id="mobile-opp-compact">
        <input type="checkbox" @change="toggleOpponentsCompact" />
        <span>Compact View</span>
    </label>

    <table id="opponents" :class="isOpponentsCompact() ? 'compact' : ''">

    <template v-for="phase in player.groupedRounds">
        <thead>
            <tr class="phase-header">
                <th colspan="5">{{ getPhaseString(phase.phase) }}</th>
                <th></th>
            </tr>
            <tr class="info-header">
                <th>Rnd</th>
                <th>Opponent</th>
                <th>Result</th>
                <th>Record</th>
                <th>Res</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="opp in phase.rounds" :class="[ opp.bye ? 'bye' : '' ]">
                <td>{{ opp.rname }}</td>
                <td>
                    <template v-if="opp.bye">Bye</template>
                    <template v-else-if="opp.late">Late</template>
                    <a v-else :href="`/${season}/${eventInfo.code}/player/${opp.opp}`">{{ opponents[opp.opp].name }}</a>
                </td>
                <td :class="[ opp.bye ? '' : opp.res ]">{{ opp.bye ? "" : opp.res }}</td>
                <td>
                    <template v-if="opponents[opp.opp].record">
                    ({{ opponents[opp.opp].record.w }} - {{ opponents[opp.opp].record.l }})
                    </template>
                </td>
                <td>
                    <template v-if="opponents[opp.opp].res">
                    {{ !opp.cut ? getPct(opponents[opp.opp].res.opp) : "" }}
                    </template>
                </td>
                <td class="team-container">
                    <div v-if="opponents[opp.opp].team">
                        <a :href="`/${season}/${eventInfo.code}/player/${opp.opp}`">
                            <div
                                v-for="mon in opponents[opp.opp].team"
                                class="monicon"
                                :style="{ backgroundPosition: getSpritePos(mon.code) }"
                                :title="mon.name"
                            >{{ mon.name }}</div>
                        </a>
                    </div>
                    <div v-else class="monicon monicon-ph"></div>
                </td>
            </tr>
        </tbody>

    </template>

    </table>

</template>

<template id="pairings-template">

    <h2>{{ eventInfo.name }} Pairings &mdash; {{ round.name }}</h2>

    <h4>Select Round:</h4>

    <ul id="pairing-round-select">
        <li v-for="round in allRounds">
            <a :href="`/${season}/${eventInfo.code}/pairings/${round.num}`">{{ round.name }}</a>
        </li>
    </ul>

    <table id="pairings">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pairing in pairings">
                <td :class="pairingWinClass(pairing, pairing.player)">
                    <a
                        :href="`/${season}/${eventInfo.code}/player/${pairing.player}`"
                    >{{ standings[pairing.player].name }}</a><br />
                    ({{ getRecordThroughRound(pairing.player, round.num) }})
                </td>
                <td>
                    <div v-if="pairing.table > 0">Table <span>{{ pairing.table }}</span></div>
                    <div v-else class="table-place"></div>
                </td>
                <td :class="pairingWinClass(pairing, pairing.opp)">
                    <span v-if="pairing.opp">
                        <a
                            :href="`/${season}/${eventInfo.code}/player/${pairing.opp}`"
                        >{{ standings[pairing.opp].name }}</a><br />
                        ({{ getRecordThroughRound(pairing.opp, round.num) }})
                    </span>
                    <span v-if="pairing.other">{{ pairing.other }}</span>
                </td>
            </tr>
            <tr v-if="pairings.length == 0" v-cloak>
                <td colspan="3">No pairings for this round yet!</td>
            </tr>
        </tbody>
    </table>

</template>

<template id="country-stats-template">

    <h2>{{ eventInfo.name }} Players by Country</h2>

    <div class="table-holder">

        <table id="country-stats">
            <thead>
                <tr>
                    <th></th>
                    <th>Country</th>
                    <th>Players</th>
                    <th>Phase 2</th>
                    <th>Cut</th>
                    <th>Top Player</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="countryData in countryStats">
                    <td width="34">
                        <a :href="`/${season}/${eventInfo.code}/country/${countryData.country}`"><img
                            :src="`/static/img/flags/${countryData.country}.svg`"
                            :title="`${countryData.country}`"
                            width="32"
                        /></a>
                    </td>
                    <td>
                        <a
                            :href="`/${season}/${eventInfo.code}/country/${countryData.country}`"
                        >{{ getCountryName(countryData.country) }}</a>
                    </td>
                    <td>{{ countryData.players.length }}</td>
                    <td>{{ countryData.phase2 }}</td>
                    <td>{{ countryData.cut }}</td>
                    <td>
                        <a
                            :href="`/${season}/${eventInfo.code}/player/${countryData.topPlayer.code}`"
                        >{{ standings[countryData.topPlayer.code].name }}</a>
                    </td>
                    <td>({{ standings[countryData.topPlayer.code].place }})</td>
                </tr>
                <tr v-if="countryStats.length == 0" v-cloak>
                    <td colspan="7">There's no country data for this event.</td>
                </tr>
            </tbody>
        </table>

    </div>

</template>

<template id="country-template">

    <h2>Players from {{ country }} &mdash; {{ eventInfo.name }}</h2>

    <table id="country-players" class="main-standings">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th colspan="3">Record</th>
                <th></th>
                <th>Res</th>
                <th>OpRes</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr
                is="vue:standings-row"
                v-for="pcode in countryStats.players"
                :key="pcode"
                :pcode="pcode"
                :standings="standings"
                :event-info="eventInfo"
                :season="season"
                :show-drop="false"
                :always-show-res="true"
            ></tr>
        </tbody>
    </table>

</template>

<template id="usage-template">

    <h2>{{ eventInfo.name }} Usage Stats</h2>

    <ul id="standings-info">
        <li><strong>Total Players</strong>: {{ eventInfo.playerCount }}</li>
        <li><strong>Phase Two Players</strong>: {{ eventInfo.phase2Count }}</li>
        <li><strong>Pct. In Phase Two</strong>: {{ getPct(eventInfo.phase2Count / eventInfo.playerCount) }}</li>
    </ul>

    <div class="filter-area" v-if="usage.length">
        <input
            type="text"
            placeholder="Search by name"
            id="monUsageNameSearch"
            @input="searchMonUsage"
            :value="monUsageSearch"
        />
        <div
            class="searchFunc clearSearch"
            v-if="monUsageSearch.length"
            @click="clearMonSearch"
        >&times;</div>
    </div>

    <div class="table-holder">
        <table id="usage">
            <thead>
                <tr>
                    <th></th>
                    <th class="sortable"
                        title="Pokemon"
                        @click="sortUsage('name')"
                        :class="getSortedClass('name')">Name</th>
                    <th class="sortable"
                        title="Total used"
                        @click="sortUsage('total')"
                        :class="getSortedClass('total')"
                        colspan="2"
                    >Total</th>
                    <th class="sortable"
                        title="Number that earned points"
                        @click="sortUsage('points')"
                        :class="getSortedClass('points')"
                        colspan="2"
                    >Points</th>
                    <th class="sortable"
                        title="Number that made Phase 2"
                        @click="sortUsage('phase2')"
                        :class="getSortedClass('phase2')"
                        colspan="2"
                    >Phase 2</th>
                    <th class="sortable"
                        title="Phase 2 Conversion Rate"
                        @click="sortUsage('phase2Conversion')"
                        :class="getSortedClass('phase2Conversion')"
                    >Ph2 Cnv</th>
                    <th class="sortable"
                        title="Number that made Top Cut"
                        @click="sortUsage('cut')"
                        :class="getSortedClass('cut')"
                        colspan="2"
                    >Cut</th>
                    <th class="sortable"
                        title="Top Cut Conversion Rate"
                        @click="sortUsage('cutConversion')"
                        :class="getSortedClass('cutConversion')"
                    >Cut Cnv</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="mon in filteredUsage">
                    <td>
                        <div
                            class="monicon"
                            :style="{ backgroundPosition: getSpritePos(mon.altcode || mon.code) }"
                            :title="mon.name"
                        >{{ mon.name }}</div>
                    </td>
                    <td><a :href="`/${season}/${eventInfo.code}/mon/${mon.code}`">{{ mon.name }}</a></td>
                    <td>{{ mon.counts.total }}</td>
                    <td><span class="pct">({{ getPct(mon.counts.total / eventInfo.playerCount, 4) }})</span></td>
                    <td>{{ mon.counts.points }}</td>
                    <td><span class="pct">({{ getPct(mon.counts.points / eventInfo.playerCount, 4) }})</span></td>
                    <td>{{ mon.counts.phase2 }}</td>
                    <td><span class="pct">({{ getPct(mon.counts.phase2 / eventInfo.phase2Count, 4) }})</span></td>
                    <td>{{ getPct(mon.counts.phase2Conversion, 5) }}</td>
                    <td>{{ mon.counts.cut }}</td>
                    <td><span class="pct">({{ getPct(mon.counts.cut / eventInfo.cutCount, 4) }})</span></td>
                    <td>{{ getPct(mon.counts.cutConversion, 5) }}</td>
                </tr>
                <tr v-if="usage.length == 0" v-cloak>
                    <td colspan="12">No usage stats for this event yet.</td>
                </tr>

                <tr v-if="usage.length && !filteredUsage.length" v-cloak>
                    <td colspan="12">No results</td>
                </tr>
            </tbody>
        </table>
    </div>

</template>

<template id="usage-list-icon-template">
    <tr @click="toggleFilter(type, code)">
        <td><input type="checkbox" :checked="hasFilter(type, code)" /></td>
        <td>
            <div
                v-if="code != 'noitem' && iconclass.length"
                :class="iconclass"
                :style="{ backgroundPosition: type != 'teras' ? getSpritePos(code) : 'center center' }"
                :title="name"
            >{{ name }}</div>
        </td>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
        <td><span class="pct">({{ getPct(count / total) }})</span></td>
    </tr>
</template>

<template id="mon-template">

    <h2>{{ mon.name }} Usage &mdash; {{ eventInfo.name }}</h2>

    <div class="table-holder">
        <table id="usage-info">
            <thead>
                <tr>
                    <th></th>
                    <th title="Total used">Total</th>
                    <th title="Total points earned this event">Total<br />Points</th>
                    <th title="Number that earned points">Points</th>
                    <th title="Number that made Phase 2">Phase 2</th>
                    <th title="Phase 2 Conversion Rate">Phase 2<br />Conv.</th>
                    <th title="Number that made Top Cut">Cut</th>
                    <th title="Top Cut Conversion Rate">Cut Conv.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        {{ mon.counts.total }} 
                        <span class="pct">({{ getPct(mon.counts.total / eventInfo.playerCount, 4) }})</span>
                    </td>
                    <td>{{ mon.points.toLocaleString() }}</td>
                    <td>
                        {{ mon.counts.points }} 
                        <span class="pct">({{ getPct(mon.counts.points / eventInfo.playerCount, 4) }})</span>
                    </td>
                    <td>
                        {{ mon.counts.phase2 }} 
                        <span class="pct">({{ getPct(mon.counts.phase2 / eventInfo.phase2Count, 4) }})</span>
                    </td>
                    <td>{{ getPct(mon.counts.phase2Conversion, 5) }}</td>
                    <td>
                        {{ mon.counts.cut }} 
                        <span class="pct">({{ getPct(mon.counts.cut / eventInfo.cutCount, 4) }})</span>
                    </td>
                    <td>{{ getPct(mon.counts.cutConversion, 5) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>{{ mon.name }} Configurations</h3>

    <div class="mon-config-container" :style="{ backgroundImage: `url(${monImgBase}/${mon.dex}.png)` }">

        <div class="config-container">

            <table id="item-info">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">Item Name</th>
                        <th colspan="2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        is="vue:usage-list-icon"
                        v-for="itemInfo in mon.items"
                        :code="itemInfo.code"
                        :name="itemInfo.name"
                        :count="itemInfo.count"
                        :total="mon.counts.total"
                        iconclass="itemicon"
                        type="items"
                    ></tr>
                    <tr v-if="mon.items.length < 3" v-for="n in 3 - mon.items.length"><td colspan="5"></td></tr>
                </tbody>
            </table>

        </div>
        <div class="config-container">

            <table id="move-info">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>Move Name</th>
                        <th colspan="2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        is="vue:usage-list-icon"
                        v-for="moveInfo in mon.moves"
                        :code="moveInfo.name"
                        :name="moveInfo.name"
                        :count="moveInfo.count"
                        :total="mon.counts.total"
                        iconclass=""
                        type="moves"
                    ></tr>
                    <tr v-if="mon.moves.length < 3" v-for="n in 3 - mon.moves.length"><td colspan="5"></td></tr>
                </tbody>
            </table>

        </div>

        <div class="config-container">

            <table id="tera-info">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">Tera Type</th>
                        <th colspan="2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        is="vue:usage-list-icon"
                        v-for="teraInfo in mon.teras"
                        :code="teraInfo.name"
                        :name="teraInfo.name"
                        :count="teraInfo.count"
                        :total="mon.counts.total"
                        :iconclass="`tera-icon tera-${teraInfo.name.toLowerCase()}`"
                        type="teras"
                    ></tr>
                    <tr v-if="mon.teras.length < 3" v-for="n in 3 - mon.teras.length"><td colspan="5"></td></tr>
                </tbody>
            </table>

        </div>
        <div class="config-container">

            <table id="ability-info">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>Ability</th>
                        <th colspan="2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        is="vue:usage-list-icon"
                        v-for="abilityInfo in mon.abilities"
                        :code="abilityInfo.name"
                        :name="abilityInfo.name"
                        :count="abilityInfo.count"
                        :total="mon.counts.total"
                        iconclass=""
                        type="abilities"
                    ></tr>
                    <tr v-for="n in 3 - mon.abilities.length"><td colspan="5"></td></tr>
                </tbody>
            </table>

        </div>

    </div>

    <h3>All {{ mon.name }} Teams <em v-if="isFiltered()" v-cloak>(Results are being filtered)</em></h3>

    <table id="mon-users" class="main-standings">
        <thead>
            <tr class="info-header">
                <th title="Placement">Pl.</th>
                <th></th>
                <th>Name</th>
                <th colspan="3">Record</th>
                <th></th>
                <th>Res</th>
                <th>OpRes</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr
                is="vue:standings-row"
                v-for="pcode in filteredPlayers"
                :key="pcode"
                :pcode="pcode"
                :standings="standings"
                :event-info="eventInfo"
                :season="season"
                :show-drop="false"
                :always-show-res="true"
            ></tr>
            <tr v-if="!filteredPlayers.length" v-cloak>
                <td colspan="6">No matching results.</td>
            </tr>
        </tbody>
    </table>

</template>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.setSpriteCoords(JSON.parse('__SPRITE_COORDS_DATA__'));
app.setHDItemCoords(JSON.parse('__HD_ITEM_COORDS_DATA__'));
app.setCountryCodes(JSON.parse('__COUNTRY_CODE_DATA__'));
app.setMonImgBase('__MON_IMG_BASE__');
app.setLiveUpdateFrequency(__LIVE_UPDATE_FREQUENCY__);

app.init();
</script>

</body>
</html>
